/* STYLE IMPORT  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

/* COLOR VARIABLES */
:root {
    /* color */
    --main-text-clr: hsl(0, 0%, 13%);
    --p-text-clr: hsl(154, 13%, 32%);
    --normal-text-clr: hsl(0, 0%, 10%);
    --hover-clr: hsl(176, 88%, 27%);
    --nav-bg-color: hsl(229, 40%, 92%);
    /* font size */
    --normal-fs: 16px;
  }

/* GLOBAL STYLE INITIALIAZATION */
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--main-text-clr);
    padding-bottom: 5px;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: var(--main-text-clr);
}

h4 {
    font-size: 20px;
    padding-bottom: 0;
    color: var(--main-text-clr);
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: var(--p-text-clr);
}

li {
    list-style: none;
}

section-p1 {
    padding: 40px 80px;
}

section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* HEADER STYLES */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 80px;
    background-color: var(--nav-bg-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* HEADER > NAVLIST */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    padding: 0 20px;
    /* THIS WILL MAKE THE AFTER PSEUDO CLASS STYLE SHOW */
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: var(--normal-fs);
    font-weight: 600;
    color: var(--normal-text-clr);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--hover-clr);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: var(--hover-clr);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* HOMEPAGE HERO */
#hero {
    background-image: url("img/img/hero4.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
color: var(--hover-clr);
}

#hero p {
padding-bottom: 10px;}

#hero button {
    background-image: url("/img/img/button.png");
    background-color: transparent;
    color: var(--hover-clr);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}